*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.open-sense{
    
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  

}
header {
    background-color:blanchedalmond;
    padding-top: 50px;

}
.logo h2{
    
    font-weight: 900;

    
}
.logo h2 span{
    color: tomato;
}
nav{
    width:71%;
    max-width:1140px;
   /* border: 1px solid red;*/
    margin:  0px auto;
    display: flex;
    justify-content: space-between;

}
.btn{
   background-color: #FD6E0A;
   border:none;
   padding: 10px 42px;
   border-radius: 5px;
   font-size: bold;
    color: white;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
}
nav .menu li{
    font-size: 20px;
    font-color:474747;
}