*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.open-sense{
    
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  

}
header {
    background-color:blanchedalmond;
    background-image:url("../developer.png"),url("..//header_bg.png");
    background-position:top left, bottom  right;
    background-repeat: no-repeat;
    padding-top: 50px;


}
.logo h2{
    
    font-weight: 900;

    
}
.logo h2 span{
    color: tomato;
}
nav{
    width:71%;
    max-width:1140px;
   /* border: 1px solid red;*/
    margin:  0px auto;
    display: flex;
    justify-content: space-between;

}
.btn{
   background-color: #FD6E0A;
   border:none;
   padding: 10px 42px;
   border-radius: 5px;
   font-size: bold;
    color: white;
    cursor: pointer;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
}
nav .menu li{
    font-size: 20px;
    font-color:474747;
}
#banner{
   
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content h2{
    font-size: semi-bold;
    font-weight: 600;
    color:#474747;
    margin-bottom: 50px;
}
#banner.banner-content{
    max-width: 585px;
}
#banner .banner-content h1{
    font-size:bold;
    font-weight: 900;
    color:darkred;
    margin-bottom: 85px;
    
}
#banner .banner-content p{
    
    font-weight: 18;
    color:#757575;
    margin-bottom: 85px;
    line-height: 30px;

    margin-bottom: 30;
}
#banner .banner-img img{
    max-width: 585px;
    vertical-align: middle;
}
.section-heading{
    text-align: center;
    max-width: 827px;
}
.section-heading h2{
    font-size: 36px;
    font-weight: 600;
    
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
   margin-bottom: 30px;
    line-height: 30px;
    color:#757575;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .card-info{
    line-height: 30px;
     font-size: 15px;
}
#about{
    padding: 130px 256px 0px 256px;
}
#about .about-container{
    padding: 85px 50px;
    background-color:bisque;
    width: 71%;
    max-width: 1150px;
    margin: 0px auto;
    text-align: center;
    
}
#skill{
    padding:98px 230px 0px 230px;
}
#skill .skill-container{
   width: 71%;
   max-width: 1140px;
    margin: 0px auto;
}
#skill .skill-container .skill-heading{
    text-align:center;
    margin: 0px auto;
}
#skill .skill-container .skill-heading h3{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}
#skill .skill-container .skill-heading p{
    font-size: 18px;
    color:#757575;
    line-height: 30px;
    margin-bottom: 60px;
}
#skill .skill-container .skill-box{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
#skill .skill-container .skill-box .skill-card{
   
    padding:30px;
    max-width:267PX;
    line-height: 28px;
    box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.1);
}
.skill-card img{
    width:44px;
    height:44px;
    margin-bottom: 30px;
}
.skill-card h4{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    color:#757575;
    line-height: 28px;
}

    

