*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.open-sense{
    
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  

}
header {
    background-color:blanchedalmond;
    background-image:url("../developer.png"),url("..//header_bg.png");
    background-position:top left, bottom  right;
    background-repeat: no-repeat;
    padding-top: 50px;


}
.logo h2{
    
    font-weight: 900;

    
}
.logo h2 span{
    color: tomato;
}
nav{
    width:71%;
    max-width:1140px;
   /* border: 1px solid red;*/
    margin:  0px auto;
    display: flex;
    justify-content: space-between;

}
.btn{
   background-color: #FD6E0A;
   border:none;
   padding: 10px 42px;
   border-radius: 5px;
   font-size: bold;
    color: white;
    cursor: pointer;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
}
nav .menu li{
    font-size: 20px;
    font-color:474747;
}
#banner{
   
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content h2{
    font-size: semi-bold;
    font-weight: 600;
    color:#474747;
    margin-bottom: 50px;
}
#banner.banner-content{
    max-width: 585px;
}
#banner .banner-content h1{
    font-size:bold;
    font-weight: 900;
    color:darkred;
    margin-bottom: 85px;
    
}
#banner .banner-content p{
    
    font-weight: 18;
    color:#757575;
    margin-bottom: 85px;
    line-height: 30px;

    margin-bottom: 30;
}
#banner .banner-img img{
    max-width: 585px;
    vertical-align: middle;
}